./Ocoarcata_demography/testout/Ocoardem_mig1k/fsc26
./Ocoarcata_demography/testout/Ocoardem_Nomig3k/fsc26
./Ocoarcata_demography/testout/Ocoardem_mig2k/fsc26
./Ocoarcata_demography/testout/Ocoardem_mig3k/fsc26
./Ocoarcata_demography/testout/Ocoardem_Nomig1k/fsc26
./Ocoarcata_demography/testout/Ocoardem_Nomig2k/fsc26
./Ocoarcata_demography/Ocoar_DEM/SGL/Ocoardem_mig1l/fsc26
./Ocoarcata_demography/Ocoar_DEM/SGK/Ocoardem_mig1k/BITE/.git/objects/21/56a4b139a66f29d0d5733f34983491a8829e24
./Ocoarcata_demography/Ocoar_DEM/SGK/Ocoardem_mig1k/BITE/.git/objects/d8/f70c475e44bbc03c01ce9d4c53366de510a713
./Ocoarcata_demography/Ocoar_DEM/SGK/Ocoardem_mig1k/BITE/.git/objects/eb/6055e1799e40470c37e3e23a3640b7d6320a14
./Ocoarcata_demography/Ocoar_DEM/SGK/Ocoardem_mig1k/BITE/.git/objects/14/b32ceb59b1f9163ff2e88cad20846066cea468
./merge_PAVs/old_alt/asm_mg/answerDEL.mtx
./merge_PAVs/old_alt/asm_mg/answerALL.mtx
./merge_PAVs/old_alt/asm_mg/answerINS.mtx
./merge_PAVs/old_alt/svim_mg/answerALL.mtx
./merge_PAVs/old_alt/svim_mg/answerDEL.mtx
./merge_PAVs/old_alt/asm_svim/answerALL.mtx
./merge_PAVs/old_alt/asm_svim/answerINS.mtx
./merge_PAVs/old_alt/asm_svim/answerDEL.mtx
./INVtype/XI-3A_ERS470559.sorted.bam.vcf
./INVtype/XI-2A_ERS469649.sorted.bam.vcf
./PopGen/RealData/CAL/simCrashSel_200.stats
./PopGen/FST/out.weir.fst
./PopGen/ABC/programs/SIM/slim
./PopGen/ABC/tempsubtrop.v3/CAL/scratch/slim
./PopGen/ABC/tempsubtrop.v3/scratch1/slim
./PopGen/SLiM/pop1_CrashNEUT/CAL/simCrashSel_200.stats
./PopGen/SLiM/pop1_CrashNEUT/slim
./PopGen/SLiM/programs/SIM/slim
./PopGen/SLiM/ePSMC/30000-30000-0.55-0.99-30000_1/30000-30000-0.55-0.99-30000_1.vcf.gz_result_list.RData
./PopGen/SLiM/CALC/simCrashSel_1000.stats
./PopGen/.vcf.gz
./PopGen/ePSMC/30000-30000-0.55-0.99-30000_1/30000-30000-0.55-0.99-30000_1.vcf.gz_result_list.RData
